// updates to address error "ReferenceError: regeneratorRuntime is not defined"
{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "10"
          }
        }
      ]
    ]
  }
  // old config:
  /*
  {
    'presets': ['@babel/preset-env']
}
*/