<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Sentiment Analysis using NLP</title>
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>

    <header>
        <h1>Natural Language Processing of Articles & Blogs</h1>
    </header>
    <main>
        <section class="form">
            <h1>Text Sentiment Analysis</h1>
            <fieldset>
                <label>Please enter URL or text of article or blog:</label>
                <input type="text" name="text" id="text" />
            </fieldset>
            <label>
                Please select corresponding input type
            </label>
            <fieldset>
                <input type="radio" id="radio-text" name="text" value="text"/>
                <label for="text">Text</label>
                <input type="radio" id="radio-url" name="url" value="url"/>
                <label for="url">URL</label>
            </fieldset>
            <button type="submit" id="btn-submit" onclick="return Client.handleSubmit(event)"
                onsubmit="return Client.handleSubmit(event)">
                submit
            </button>
            </form>
            <section>
            <section>
                <strong>Analysis Results:</strong>
                <div id="results"></div>
            </section>
    </main>
    <footer>
        <div id="footer">Text Sentiment Analysis created & designed by Jerry Yip (https://github.com/jerrycyip)</div>
    </footer>
    <script>
        // Check that service workers are supported (prod only)
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>