@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Open+Sans:wght@700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open+Sans', sans-serif;
    font-family: 'Kodchasan', sans-serif;    //opacity: 0%;
    line-height: 1.25em;
    /*font-family: 'Gidugu', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 0.7em;*/
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    width: auto;
    overflow-y: scroll;
    color: #0b3b6d
//    width: 100vw;
    //min-width: auto;
    //font-family: 'Open Sans', sans-serif;
    //font-family: 'Kodchasan', sans-serif;
}
main {
    //flex: 2;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

#intro{
    display: flex;
    justify-content: center;
}
#ai-image {
    width: 50%;
    min-width: 315px;
    height: auto;
    margin-top: 20px;
    border: 3px solid #052741;
    border-radius: 5px;
    //border-top-right-radius: 5px;    
}
#intro-text {
    margin-top: 10px;
    width: 50%;
    min-width: 315px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #c3e0f2; // #ffd966;
    //border: 1px solid #052741;
    border-radius: 5px;
    border: 2px solid #052741;
    //border-bottom-right-radius: 5px;     
}
#intro-text h1 {
 text-align: center;
 font-size: 1.2em;
 font-weight: 700;
 color: #052741;
 text-decoration: underline;
 
}
p.intro-text{
    width: 90%;
    min-width: 310px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    //font-size: 1em;
    //font-weight: 300;
    //margin-top: 10px;
    padding: 5px;
}

#results-container {
    width: 50%;
    min-width: 315px;
    //display: flex;
    //justify-content: center;
    text-align: center;
    border: 2px solid #052741;
    padding: 20px;
    border-radius: 5px;
}
#results-container h3{
    display: block;
    text-decoration: underline;
    font-size: 1.25em;
    font-weight: 900;
}
#results-container div{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#results{
    //font-family: 'Open+Sans', sans-serif;
    text-transform: lowercase;// capitalize;
//    text-transform: capitalize;
    word-wrap: break-word;
}

#results-summary{
    //border: 2px solid #052741;
    padding-top: 10px;
    padding-bottom: 10px;
 //   font-family: 'Open+Sans', sans-serif;
}

#mc-attribution{
    vertical-align: super;
    font-size: 1em; 
    font-weight: 600; 
    display: inline;
    font-family: 'Kodchasan', sans-serif;
}
sub{
    vertical-align: super;
    //text-decoration: none;    
}
#mc-link{
    text-decoration: none;
    color: #0b3b6d
}
#mc-logo{
    margin-bottom: -8px;
}

/* mobile responsive layout*/
@media only screen and (max-width: 1100px){
    #ai-image {
        width: 67%;  
    }
    #intro-text {
        width: 67%;  
    }
    #results-container {
        width: 67%;
    }
}
@media only screen and (max-width: 950px){
    #ai-image {
        width: 75%;  
    }
    #intro-text {
        width: 75%;  
    }
    #results-container {
        width: 75%;
    }
    #results-summary{
        //border: 2px solid #052741;
        padding-top: 5px;
        padding-bottom: 5px;
     //   font-family: 'Open+Sans', sans-serif;
    }
    #mc-attribution{
        font-size: 1em; 
    }
}
@media only screen and (max-width: 650px){
    #ai-image {
        width: 88%;  
    }
    #intro-text {
        width: 88%;  
    }
    #results-container {
        width: 88%;
    }

}